.app-container {
  width: 700px;
  height: 300px !important;
  /* font-family: Calibri; */
  font-family: Cambria;
}

.align-center {
  text-align: center;
}

.red {
  color: rgb(207, 48, 74);
}

.green {
  color: rgb(3, 166, 109);
}

.text-light {
  color: #888;
}

.list-table td {
  text-shadow: 0px 1px #888;
  /* font-size: 14px !important; */
}
